<?xml version="1.0"?>

<robot name="sandia_hand"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="finger_gazebo" params="side idx">
    <gazebo reference ="${side}_f${idx}_base">
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
      <kp>10000.0</kp>
      <kd>1.0</kd>
      <maxVel>0.1</maxVel>
      <minDepth>0.0</minDepth>
    </gazebo>
    <gazebo reference="${side}_f${idx}_0">
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
      <kp>10000.0</kp>
      <kd>1.0</kd>
      <maxVel>1.0</maxVel>
      <minDepth>0.0</minDepth>
    </gazebo>
    <gazebo reference="${side}_f${idx}_1">
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
      <kp>10000.0</kp>
      <kd>1.0</kd>
      <maxVel>0.1</maxVel>
      <minDepth>0.0</minDepth>
    </gazebo>
    <gazebo reference="${side}_f${idx}_2">
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
      <kp>10000.0</kp>
      <kd>1.0</kd>
      <maxVel>0.1</maxVel>
      <minDepth>0.0</minDepth>
    </gazebo>
    <gazebo reference="${side}_f${idx}_j0">
      <cfmDamping>1</cfmDamping>
    </gazebo>
    <gazebo reference="${side}_f${idx}_j1">
      <cfmDamping>1</cfmDamping>
    </gazebo>
    <gazebo reference="${side}_f${idx}_j2">
      <cfmDamping>1</cfmDamping>
    </gazebo>
  </xacro:macro>
  <xacro:macro name="sandia_hand_gazebo" params="side">
    <gazebo reference="${side}_palm">
      <mu1>0.9</mu1>
      <mu2>0.9</mu2>
    </gazebo>
  </xacro:macro>
  <xacro:macro name="sandia_hand_gazebo_controller" params="side">
    <gazebo>
      <plugin filename="libgazebo_ros_controller_manager.so" name="gazebo_ros_controller_manager">
        <alwaysOn>true</alwaysOn>
        <updateRate>1000.0</updateRate>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>

